<div class="container">
    <h2>
        in child
    </h2>
    <button class="btn btn-success" (click)="changeDadColor()">
        change dad color
    </button>
    <div class="row">
        <div class="container  col-sm">

            <div class="mb-3 ">
                <label class="form-label">Préname:</label>
                <input type="text" class="form-control" [(ngModel)]="firstname" [value]="firstname">
            </div>

            <div class="mb-3">
                <label class="form-label">name:</label>
                <input type="text" class="form-control" [(ngModel)]="name" [value]="name">
            </div>

            <div class="mb-3">
                <label class="form-label">Age:</label>
                <input type="text" class="form-control" [(ngModel)]="age" [value]="age">
            </div>

            <div class="mb-3">
                <label class="form-label">Job:</label>
                <input type="text" class="form-control" [(ngModel)]="job" [value]="job">
            </div>

            <div class="mb-3">
                <label class="form-label">Image path:</label>
                <input type="text" class="form-control" [(ngModel)]="image" [value]="image">
            </div>

            <div class="mb-3">
                <label class="form-label">Citation favorite:</label>
                <input type="text" class="form-control" [(ngModel)]="citation" [value]="citation">
            </div>

            <div class="mb-3">
                <label class="form-label">Décrivez nous votre travail:</label>
                <input type="text" class="form-control" [(ngModel)]="description_travail" [value]="description_travail">
            </div>

            <div class="mb-3">
                <label class="form-label">Mots clé de votre travail:</label>
                <input type="text" class="form-control" [(ngModel)]="mots" [value]="mots">
            </div>

        </div>


        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center col-sm">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center"
                    >  <img [src]="getImage()" height="100"
                            width="100" /><span class="name mt-3" [style.color]="color">{{firstname}} {{name}}</span> <span
                        class="idd">{{job}}</span>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span
                            class="idd1">{{age}} ans</span> <span><i class="fa fa-copy"></i></span> </div>
        

                    <div class="text mt-3"> <span>{{citation}}<br><br> {{description_travail}} </span> </div>
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                                class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                                class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                    <div class=" px-2 rounded mt-4 date "> <span class="join">{{mots}}</span> </div>
                   <div class="container"></div>
                   
                </div>
            </div>
        </div>
    </div>
</div>