<div [hidden]="isHidden" class="container" >
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center col-sm">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center"
                    >  <img [src]="getImage()" height="100"
                            width="100" /><span class="name mt-3" >{{cv.firstname}} {{cv.name}}</span> <span
                        class="idd">{{cv.job}}</span>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span
                            class="idd1">{{cv.age}} ans</span> <span><i class="fa fa-copy"></i></span> </div>
                                   
                   <div class="container"></div>
                  
                </div>
            </div>
        </div>
    </div>
